<!DOCTYPE html>
<html>
    <head>
    <link rel="stylesheet" href="./css/styles.css"/>
    <script src="../public/js/app.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo:wght@100&family=Open+Sans:wght@600;700;800&family=Suez+One&display=swap" rel="stylesheet">

    </head>

    <body>
        {{>header}}
       
       <article>
           <h2>Hi, I am Ahmed Samir</h2> <br/>
           {{!-- <img src="https://i.ibb.co/DrZ8fTb/sdr.jpg" alt="Ahmed's Photo"/> --}}
           <p>This is my simple weather website, <i>hope you like it!</i> </p>
      
       </article>
 
        {{>footer}}
    </body>
</html>